<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>People Data</title>
</head>
<body>
  <div class="container-fluid mt-4">
    <div class="row">
      <div class="col-12">
        <h1 class="text-center mb-5">People Data</h1>

        <%= render 'csv_upload_form' %>
        <%= render 'shared/flash_messages' %>
        <%= render 'table', people: @people %>
        <%= render 'pagination', people: @people, page: @page %>
      </div>
    </div>
  </div>

  <%= content_for :head do %>
    <%= render 'sorting_script' %>
  <% end %>
</body>
</html>

